Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/TestStore/0/testlog.manifest
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/TestStore/0/000-0000.testlog
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/Server/sqlite3/storage.ide-wal
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/Server/sqlite3/storage.ide-shm
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/Server/sqlite3/storage.ide
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/Server/sqlite3/db.lock
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/DesignTimeBuild/.dtbcache
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/project.assets.json
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/MediaOntologyMapping.csproj.nuget.dgspec.json
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/Debug/netcoreapp3.1/MediaOntologyMapping.csprojAssemblyReference.cache
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/Debug/netcoreapp3.1/MediaOntologyMapping.AssemblyInfoInputs.cache
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/MediaOntologyMapping.csproj.nuget.g.props
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/MediaOntologyMapping.csproj.nuget.cache
Scripts/MediaOntologyMapping/MediaOntologyMapping/obj/Debug/netcoreapp3.1/MediaOntologyMapping.assets.cache
Scripts/MediaOntologyMapping/.vs/MediaOntologyMapping/v16/.suo
Scripts/QueryMongo/QueryMongo/bin/Debug/netcoreapp3.1/QueryMongo.deps.json
Scripts/QueryMongo/QueryMongo/bin/Debug/netcoreapp3.1/QueryMongo.runtimeconfig.dev.json
Scripts/QueryMongo/QueryMongo/bin/Debug/netcoreapp3.1/QueryMongo.runtimeconfig.json
Scripts/QueryMongo/QueryMongo/obj/Debug/netcoreapp3.1/QueryMongo.AssemblyInfo.cs
Scripts/QueryMongo/QueryMongo/obj/Debug/netcoreapp3.1/QueryMongo.csproj.CopyComplete
Scripts/QueryMongo/QueryMongo/obj/Debug/netcoreapp3.1/QueryMongo.csproj.FileListAbsolute.txt
Scripts/QueryMongo/QueryMongo/obj/project.assets.json
Scripts/QueryMongo/QueryMongo/obj/QueryMongo.csproj.nuget.dgspec.json
Scripts/QueryMongo/QueryMongo/obj/QueryMongo.csproj.nuget.g.props
Scripts/QueryMongo/QueryMongo/obj/QueryMongo.csproj.nuget.g.targets
Scripts/QueryMongo/.vs/QueryMongo/DesignTimeBuild/.dtbcache
Scripts/QueryMongo/.vs/QueryMongo/v16/Server/sqlite3/db.lock
Scripts/QueryMongo/.vs/QueryMongo/v16/Server/sqlite3/storage.ide
Scripts/QueryMongo/.vs/QueryMongo/v16/Server/sqlite3/storage.ide-shm
Scripts/QueryMongo/.vs/QueryMongo/v16/Server/sqlite3/storage.ide-wal
Scripts/QueryMongo/.vs/QueryMongo/v16/TestStore/0/000-0000.testlog
Scripts/QueryMongo/.vs/QueryMongo/v16/TestStore/0/testlog.manifest
Scripts/.vscode/launch.json
